#navbar{
	
}
	/*#logoff-li{
		margin-left: 900px;
	}*/
@media only screen and (max-width: 480px){
	#logoff-li{
		margin-left: 0px;
	}
	.order-last{
		margin-left: 30px;
	}
}

@media only screen and (min-width: 481px){
	#logoff-li{
		margin-left: 0px;
	}

}
@media only screen and (min-width: 1024px){
	#logoff-li{
		margin-top: 400px;
	}
	#welcome-div{
		border-bottom: 1px solid white;
		margin-bottom: 20px;
		font-size: 12px;
	}
		#text-welcome{
			font-size: 14px;
		}
}	