*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #f1f1f1;
}
	#msg-div{
		padding: 18px 20px 0px 20px;
	}
	#breadcrumb{
		background-color: white;
		padding: 5px;
	}
	#order-section{
		background-color: white;
	}
	table{
		font-family: Arial, Helvetica, sans-serif;
		background-color: white;
	}
	td{
		text-align: center;
	}
	table,td,th{
		padding: 10px;
		text-align: center;
	}

#shipping-billing-info{
	background-color: white;
}
	#paynow-btn, #payment-btn{
		background-color: #f94810;
		color: white;
	}
	#edit-billing{
		cursor: pointer;
	}	
#total-price, #continue-shopping-link{
	display: block;
}

#total-price{
	font-weight: 700;
}
#tot-price-text{
	color: #f94810;
}
#total-price-section{
	background-color: white;
}
label{
	margin-top: 20px;
}
#payment-div{
	background-color: white;
	padding: 10px;		
}


@media only screen and (max-width: 480px){
	#order-section{
		width: 100%;
		margin: 10px 0px 10px 0px;
		height: 200px;
		overflow: scroll;
		padding: 0px;
		font-size: 16px;
	}
	#empty-cart{
		margin: 10px 0px 0px 0px;
	}
	#empty-cart-display{
			text-align: center;
			padding-bottom: 20px;
			margin: 50px 0px 90px 0px;
		}
			#empty-cart-img{
				margin: 20px 50px 0px 20px;
				width: 15%;
				height: 100px;
			}
			#empty-cart-lbl{
				margin-top: 10px;
				font-size: 16px;
				color: #757474;
			}
			#shopping-link-div{
				width: 100%;
				margin: 10px 0px 20px 0px;
			}
	#shipping-billing-info{
		margin: 10px 0px 70px 0px;
		width: 100%;
		padding: 10px;
	}
	table{
		width: 100%;
		font-size: 12px;
	}
		#item{
			width: 350px;
		}
		#display-img{
			width: 45%;
			height: 50px;
		}
	#total-price-section{
		padding: 5px 20px 10px 30px;
		margin: 10px 0px 0px 0px;
		width: 100%;
		
	}	
		#total-price-article{
			text-align: end;
		}
		#total-price{
			font-size: 16px;
		}
		#continue-shopping-link, #paynow-btn{
			width: 70%;
			margin: 15px 15% 0px 15%;
			padding: 3px 0px 3px 0px;
		}
	#payment-div{
		margin: 20px 10% 40px 10%;
		width: 80%;
		height: auto;
	}
		#month, #year, #divider-p{
			width: 20%;
			display: inline;
		}
		#payment-btn{
			width: 100%;
		}
		#error{
			font-size: 12px;
		}
		#line-left, #line-right, #or-lbl{
			display: inline-block;
		}
		#line-left, #line-right{
			border-top: 1px solid #ddd;
			width: 30%;
			height: 10px;
			vertical-align: -20px;
		}
		#line-left{
			margin-left: 20px;
		}
		
}


@media only screen and (min-width: 481px){
	
	
}
@media only screen and (min-width: 1024px){
	#cart{
		margin-left: 700px;
	}
	#order-section{
		width: 100%;
		margin: 10px 0px 0px 0px;
		height: 400px;
		padding: 10px;
		overflow-y: scroll;
	}
	#main-div, #empty-cart{
		width: 100%;
		margin: 10px 0px 0px 0px;
		vertical-align: top;
	}
		#empty-cart-display{
			text-align: center;
			padding-bottom: 20px;
			margin: 50px 0px 90px 0px;
		}
			#empty-cart-img{
				margin: 50px 50px 0px 0px;
				width: 10%;
				height: 100px;
			}
			#empty-cart-lbl{
				margin-top: 10px;
				font-size: 18px;
				color: #757474;
			}
			#shopping-link-div{
				width: 20%;
				margin: 10px 35% 20px 37%;
			}
	#shipping-billing-info, #main-div{
		display: block;
	}
	#shipping-billing-info{
		margin: 20px 10% 70px 10%;
		width: 80%;
		padding: 20px;
	}
	table{
		width: 100%;
	}
		#item{
			width: 400px;
		}
		#display-img{
			width: 20%;
			height: 90px;
		}

	#total-price-section{
		margin: 5px 0px 0px 0px;
		width: 100%;
		padding: 10px 110px 0px 30px;
	}
		#total-price-article{
			text-align: end;
		}
		#total-price{
			font-size: 18px;
		}
		#continue-shopping-link{
			width: 100%;
			margin-left: 40px;
		}
		#paynow-btn{
			margin: 25px 0px 30px 10px;
		}
		#paynow-article, #continue-shopping-article{
			display: inline-block;
		}
	#payment-div{
		margin: 10px 30% 40px 30%;
		width: 40%;
		height: auto;
	}
		#month, #year, #divider-p{
			width: 20%;
			display: inline;
		}
		#payment-btn{
			width: 100%;
		}
		#error{
			font-size: 16px;
		}
		#line-left, #line-right, #or-lbl{
			display: inline-block;
		}
		#line-left, #line-right{
			border-top: 1px solid #ddd;
			width: 40%;
			height: 10px;
			vertical-align: -20px;
		}
		#line-left{
			margin-left: 20px;
		}

}		

