*{
	margin: 0px;
	padding: 0px;
}
#tabs{
	background-color: white;
}
	.active-link{
		border: none;
		color: #0d6efd;
		background-color: white;
		border-bottom: 2px solid #f94810;
	}
	.inactive-link{
		border: none;
		color: #0d6efd;
		background-color: white;
	}
#main-div{
	background-color: white;
	width: 70%;
	padding: 10px;
}	
	/*#thumbnail-img{
		width: 18%;
		height: 50px;
	}*/
	#rating-star{
		text-decoration: none;
		font-size: 20px;
	}
	.rates{
		color: gold;
	}
	#date{
		font-size: 12px;
	}
.comment{
	height: 120px;
}
#empty-order-lbl{
	color: #757474;
}
@media only screen and (max-width: 480px){
	#main-div{
		width: 100%;
	}
		#prod-img{
			width: 90%;
			height: 150px;
		}
		#img-div, #details{
			display: block;
		}
		#img-div{
			width: 100%;
			vertical-align: top;
		}
		#details{
			font-size: 12px;
			width: 100%;
		}
		#tot-price, #status{
			display: inline-block;
			font-size: 12px;
		}
		#status{
			margin: 0px 0px 0px 20px;
		}
		#date-ordered{
			width: 100%;
		}
		#description-p{
			overflow-y: scroll;
			height: 100px;
		}
		.rates{
			font-size: 16px;
			margin-left: 10px;
		}
		#empty-order{
			width: 100%;
			margin: 10px 0px 0px 0px;
			height: 400px;
			padding-top: 100px;
		}
			#empty-order-content{
				text-align: center;
			}
				#empty-order-img{
					width: 20%;
					height: 100px;
				}

}


@media only screen and (min-width: 481px){
	
}
@media only screen and (min-width: 1024px){
	#main-div{
		width: 70%;
	}
		#prod-img{
			width: 90%;
			height: 200px;
		}
		#img-div, #details{
			display: inline-block;
		}
		#img-div{
			width: 30%;
			vertical-align: top;
		}
		#details{
			width: 60%;
		}
		.rates{
			margin-left: 20px;
		}
	#empty-order{
		width: 100%;
		margin: 10px 0px 0px 0px;
		height: 400px;
		padding-top: 100px;
	}
		#empty-order-content{
			text-align: center;
		}
			#empty-order-img{
				width: 10%;
				height: 100px;
			}
}		

