*{
	padding: 0px;
	margin: 0px;
}

#shipping-billing-info, #order-details, #order-subtotal, #order-status{
	display: inline-block;
}
label, p{
	display: inline-block;
	margin-left: 10px;	
}
#shipping-billing-info{
	border: 1px solid #ddd;
}
	#lbl-billing, #lbl-shipping{
		font-weight: 700;
	}
	#name-section{
		margin-top: 10px;
	}

#order-section{
	overflow-y: scroll;
}

	#total-fee-p{
		display: block;
	}

	#order-subtotal{
		border: 1px solid #ddd;
	}
	table{
		font-family: Arial, Helvetica, sans-serif;
	}
	th{
		color: black;
	}
	table,td,th{
		padding: 10px;
		text-align: center;
	}
	table tr:nth-child(2n+3){
		background-color: #ddd;
	}

@media only screen and (max-width: 480px){
	#shipping-billing-info{
		width: 90%;
		margin: 10px 5% 20px 5%;
	}
	#order-details{
		width: 100%;
		vertical-align: 125px; 
	}
		#order-section{
			width: 100%;
			height: 300px;
		}
		#order-status{
			width: 90%;
			height: 55px;
			margin: 20px 5% 20px 5%;
		}
		#order-subtotal{
			width: 100%;
		}

}

@media only screen and (min-width: 481px){
	#shipping-billing-info{
		width: 90%;
		margin: 10px 5% 20px 5%;
	}
	#order-details{
		width: 100%;
		vertical-align: 125px; 
	}
		#order-section{
			width: 100%;
			height: 300px;
		}
		#order-status{
			width: 90%;
			height: 55px;
			margin: 20px 5% 20px 5%;
		}
		#order-subtotal{
			width: 100%;
		}
	
}
@media only screen and (min-width: 1024px){
	#shipping-billing-info{
		width: 20%;
		margin: 40px 0px 0px 40px;
	}
	#order-details{
		width: 70%;
		margin: 40px 0px 0px 20px;
		vertical-align: top;
	}
		#order-section{
			width: 90%;
			height: 300px;
		}
		#order-status{
			width: 40%;
			height: 55px;
			margin-left: 10px;
		}
		#order-subtotal{
			width: 30%;
			margin-left: 50px;
			vertical-align: -60px;
		}
}	

